<?
	#
	# $Id: config.txt.example 48 2008-07-31 00:01:32Z iamcal $
	#

	$GLOBALS[cfg][cookie_path]		= '/';
	$GLOBALS[cfg][cookie_domain]		= 'play.citycreator.com';

	$GLOBALS[cfg][session_secret]		= 'choose-a-secret';

	$GLOBALS[db_cfg] = array(
		'host' => "...",
		'user' => "...",
		'pass' => "...",
		'name' => "...",
	);
?>